<header class="header-sec">
    <div class="header-item">
        <div class="logo-co">LOGO</div>
        <div class="cat-co">
                <a [routerLink]="" class="p-link" (click)="toggleCategory()" #categoryBtn>دسته‌بندی‌ها</a>
        </div>
        <app-search-box></app-search-box>
        <div class="link-co">
            <a [routerLink]="" class="p-link" (click)="toggleCategory()">در پرگار درس بدهید</a>
        </div>
        <div class="premium-co">
            <button class="route-button">کاربر اشتراکی شوید</button>
        </div>
        <div class="user-co">
            <div class="login-co">
                <button class="white-button p-btn">ورود</button>
            </div>
            <div class="register-co">
                <button class="green-button p-btn">ثبت‌نام</button>
            </div>
        </div>
    </div>
    <div id="desktopCat" class="desk-cat" *ngIf="desktopCategory">
        <ul class="cat-list">
            <li class="cat-item" *ngFor="let item of websiteCategory; let i = index">
                <a class="p-link" [routerLink]="['']">
                    {{item.title}}
                </a>
                <div class="subcat-dropdown">
                    <ul>
                        <li class="cat-subitem" *ngFor="let sub of websiteCategory[i].childs">
                            <a class="p-link" [routerLink]="['']">
                                {{sub.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>