<div class="banner-co">
    <div class="banner-info">
        <h1 class="banner-title">لورم ایپسوم متن ساخت </h1>
        <p class="banner-des">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        <app-search-box></app-search-box>
    </div>
    <div class="feature-co">
        <div class="feature-item">
            <img class="feature-icon" src="../../../../assets/icons/Group_15.svg" alt="feature icon">
            <div class="feature-info">
                <h3 class="feature-title">لورم ایپسوم متن ساخت</h3>
                <p class="feature-des">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>
        </div>
        <div class="feature-item">
            <img class="feature-icon" src="../../../../assets/icons/Group_17.svg" alt="feature icon">
            <div class="feature-info">
                <h3 class="feature-title">لورم ایپسوم متن ساخت</h3>
                <p class="feature-des">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>
        </div>
        <div class="feature-item">
            <img class="feature-icon" src="../../../../assets/icons/Group_6.svg" alt="feature icon">
            <div class="feature-info">
                <h3 class="feature-title">لورم ایپسوم متن ساخت</h3>
                <p class="feature-des">لورم ایپسوم متن ساختگی با تولید سادگی</p>
            </div>
        </div>
    </div>
</div>