<div class="home-wrapper">
    <app-home-banner></app-home-banner>
    <div id="home-category" class="row">
        <ul class="cat-list">
            <a *ngFor="let item of homeCategory" class="p-link link-item" [routerLink]="['']" >
                <li>
                    {{item.title}}
                </li>
            </a>
        </ul>
    </div>
    <div class="home-content">
        <ul>
            <ng-container *ngFor="let item of homeItems">
                <div *ngIf="hasOnlyOneChild(item); else slider">
                    <app-single-item [content]="item.products[0]"></app-single-item>
                </div>
                <ng-template #slider>
                    <app-slider [contentList]="item"></app-slider>
                </ng-template>
            </ng-container>
        </ul>
    </div>
</div>