@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html,
body {
    direction: rtl;
    padding: 0;
    margin: 0;
}

body.modal-open {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
}
body.modal-open:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.431);
    z-index: 100;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.p-btn {
    width: 90px;
    height: 45px;
    padding: 8px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin: 15px 5px;
}

.p-input {
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

.p-link {
    text-decoration: none;
    color: rgba(158, 158, 158, 1);
    outline: none;
}

.white-button {
    background: #fff;
    border: 1px solid black;
    color: rgba(158, 158, 158, 1);
}

.route-button {
    padding: 8px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.owl-carousel {
    position: relative;

    .owl-prev {
        position: absolute;
        top: 35%;
        right: -30px;
    }

    .owl-next {
        position: absolute;
        top: 35%;
        left: -30px;
    }

    div.owl-nav > div {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50% !important;
        color: rgba(55, 179, 74, 1) !important;
        background: #fff !important;
        border: 1px solid rgb(189, 189, 189);
        font-size: 25px !important;
        font-weight: bold;
        z-index: 50;
    }
    
    div.owl-nav > div.disabled {
        display: none !important;
    }
}